<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>All Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLogin()[pri:5, instance:com.qa.vg.tests.LoginPageTest@45fd9a4d]">doLogin</td> 
  <td>TestNG-tests-2@678228934</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:28</td>   <td>616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLogin()[pri:5, instance:com.qa.vg.tests.LoginPageTest@16c63f5]">doLogin</td> 
  <td>TestNG-tests-3@551739970</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:30</td>   <td>2268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLogin()[pri:5, instance:com.qa.vg.tests.LoginPageTest@3f270e0a]">doLogin</td> 
  <td>TestNG-tests-1@239954089</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:20</td>   <td>-7779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLoginWithEmptyEmail()[pri:3, instance:com.qa.vg.tests.LoginPageTest@16c63f5]">doLoginWithEmptyEmail</td> 
  <td>TestNG-tests-3@551739970</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:20</td>   <td>-7472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLoginWithEmptyEmail()[pri:3, instance:com.qa.vg.tests.LoginPageTest@45fd9a4d]">doLoginWithEmptyEmail</td> 
  <td>TestNG-tests-2@678228934</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:22</td>   <td>-5670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLoginWithEmptyEmail()[pri:3, instance:com.qa.vg.tests.LoginPageTest@3f270e0a]">doLoginWithEmptyEmail</td> 
  <td>TestNG-tests-1@239954089</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:16</td>   <td>-11991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLoginWithEmptyPassword()[pri:2, instance:com.qa.vg.tests.LoginPageTest@16c63f5]">doLoginWithEmptyPassword</td> 
  <td>TestNG-tests-3@551739970</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:17</td>   <td>-11034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLoginWithEmptyPassword()[pri:2, instance:com.qa.vg.tests.LoginPageTest@45fd9a4d]">doLoginWithEmptyPassword</td> 
  <td>TestNG-tests-2@678228934</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:18</td>   <td>-9450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLoginWithEmptyPassword()[pri:2, instance:com.qa.vg.tests.LoginPageTest@3f270e0a]">doLoginWithEmptyPassword</td> 
  <td>TestNG-tests-1@239954089</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:24</td>   <td>-3751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLoginWithErrorPassword()[pri:4, instance:com.qa.vg.tests.LoginPageTest@45fd9a4d]">doLoginWithErrorPassword</td> 
  <td>TestNG-tests-2@678228934</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:24</td>   <td>-3687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLoginWithErrorPassword()[pri:4, instance:com.qa.vg.tests.LoginPageTest@16c63f5]">doLoginWithErrorPassword</td> 
  <td>TestNG-tests-3@551739970</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:26</td>   <td>-1918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLoginWithErrorPassword()[pri:4, instance:com.qa.vg.tests.LoginPageTest@3f270e0a]">doLoginWithErrorPassword</td> 
  <td>TestNG-tests-1@239954089</td>   <td></td> </tr>
<tr bgcolor="cf69e8">  <td>21/02/24 23:02:02</td>   <td>-25784</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String)[pri:0, instance:com.qa.vg.tests.LoginPageTest@3f270e0a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@239954089</td>   <td></td> </tr>
<tr bgcolor="cf69e8">  <td>21/02/24 23:02:02</td>   <td>-25784</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String)[pri:0, instance:com.qa.vg.tests.LoginPageTest@16c63f5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@551739970</td>   <td></td> </tr>
<tr bgcolor="cf69e8">  <td>21/02/24 23:02:02</td>   <td>-25784</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String)[pri:0, instance:com.qa.vg.tests.LoginPageTest@45fd9a4d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@678228934</td>   <td></td> </tr>
<tr bgcolor="cf69e8">  <td>21/02/24 23:02:32</td>   <td>3906</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.vg.tests.LoginPageTest@45fd9a4d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@678228934</td>   <td></td> </tr>
<tr bgcolor="cf69e8">  <td>21/02/24 23:02:33</td>   <td>5549</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.vg.tests.LoginPageTest@16c63f5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@551739970</td>   <td></td> </tr>
<tr bgcolor="cf69e8">  <td>21/02/24 23:02:35</td>   <td>7280</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.vg.tests.LoginPageTest@3f270e0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@239954089</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:11</td>   <td>-16429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifyPageTitle()[pri:1, instance:com.qa.vg.tests.LoginPageTest@16c63f5]">verifyPageTitle</td> 
  <td>TestNG-tests-3@551739970</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:16</td>   <td>-12051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifyPageTitle()[pri:1, instance:com.qa.vg.tests.LoginPageTest@3f270e0a]">verifyPageTitle</td> 
  <td>TestNG-tests-1@239954089</td>   <td></td> </tr>
<tr bgcolor="9a6cdb">  <td>21/02/24 23:02:17</td>   <td>-11061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifyPageTitle()[pri:1, instance:com.qa.vg.tests.LoginPageTest@45fd9a4d]">verifyPageTitle</td> 
  <td>TestNG-tests-2@678228934</td>   <td></td> </tr>
</table>
