<h2>Reporter output</h2><table><tr><td>The Password field is required.<br/></td></tr>
<tr><td><font color='green' >com.qa.vg.tests.LoginPageTest : Passed Successfully</font><br/></td></tr>
<tr><td>The Password field is required.<br/></td></tr>
<tr><td><font color='green' >com.qa.vg.tests.LoginPageTest : Passed Successfully</font><br/></td></tr>
<tr><td>The Password field is required.<br/></td></tr>
<tr><td><font color='green' >com.qa.vg.tests.LoginPageTest : Passed Successfully</font><br/></td></tr>
<tr><td>The Username field is required.<br/></td></tr>
<tr><td><font color='green' >com.qa.vg.tests.LoginPageTest : Passed Successfully</font><br/></td></tr>
<tr><td>The Username field is required.<br/></td></tr>
<tr><td><font color='green' >com.qa.vg.tests.LoginPageTest : Passed Successfully</font><br/></td></tr>
<tr><td>The Username field is required.<br/></td></tr>
<tr><td><font color='green' >com.qa.vg.tests.LoginPageTest : Passed Successfully</font><br/></td></tr>
<tr><td>The Username field is required.
The Password field is required.<br/></td></tr>
<tr><td>The Username field is required.
The Password field is required.<br/></td></tr>
<tr><td>The Username field is required.
The Password field is required.<br/></td></tr>
</table>