<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="df83d3">  <td>21/02/23 14:20:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifyPageTitle()[pri:1, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">verifyPageTitle</td> 
  <td>main@1207231495</td>   <td></td> </tr>
<tr bgcolor="60fea0">  <td>21/02/23 14:20:39</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="60fea0">  <td>21/02/23 14:20:39</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String)[pri:0, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="df83d3">  <td>21/02/23 14:20:39</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLoginWithEmptyPassword()[pri:2, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">doLoginWithEmptyPassword</td> 
  <td>main@1207231495</td>   <td></td> </tr>
<tr bgcolor="60fea0">  <td>21/02/23 14:20:39</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="60fea0">  <td>21/02/23 14:20:39</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String)[pri:0, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="df83d3">  <td>21/02/23 14:20:39</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLoginWithEmptyEmail()[pri:3, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">doLoginWithEmptyEmail</td> 
  <td>main@1207231495</td>   <td></td> </tr>
<tr bgcolor="60fea0">  <td>21/02/23 14:20:39</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="60fea0">  <td>21/02/23 14:20:39</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String)[pri:0, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="df83d3">  <td>21/02/23 14:20:39</td>   <td>58</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLoginWithErrorPassword()[pri:4, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">doLoginWithErrorPassword</td> 
  <td>main@1207231495</td>   <td></td> </tr>
<tr bgcolor="60fea0">  <td>21/02/23 14:20:39</td>   <td>64</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="60fea0">  <td>21/02/23 14:20:39</td>   <td>66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String)[pri:0, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="df83d3">  <td>21/02/23 14:20:39</td>   <td>70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.doLogin()[pri:5, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">doLogin</td> 
  <td>main@1207231495</td>   <td></td> </tr>
<tr bgcolor="60fea0">  <td>21/02/23 14:20:39</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.vg.tests.LoginPageTest@4dd02341]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
